# Threads API 配置
# 需要到 Meta for Developers 申請
# https://developers.facebook.com/

THREADS_API_URL=https://graph.threads.net
THREADS_ACCESS_TOKEN=your_access_token_here
THREADS_APP_ID=your_app_id_here
THREADS_APP_SECRET=your_app_secret_here

# 其他配置
DEBUG=false
LOG_LEVEL=INFO


